

.home-page {
    .home-panner {
        .container {
            position: absolute;
            top: 110px;
        }
    }
    .home-page-content {
        margin-top: 0px;
        .process-box {
            height: 220px;
        }
    }
}
.homepage{
    height: 500px;
}
.tdtrong {
	.section {
		background-color: white;
		margin: 1px;
		margin-bottom: 15px;
		padding-bottom: 15px;
		box-shadow: 0px 0px 10px 0px;
		.image {
			img {
				width: 80px;
				float: left;
			}
		}
		.section-title {
			color: #000;
			font-size: 16pt;
			font-weight: bold;
		}
		.description {
			padding-top: 15px;
		}
	}
}   
.homework{
	.carousel .carousel-control-prev-icon {
		content: "\f000";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
	/*--adjust as necessary--*/
		color: #000;
		font-size: 18px;	
	
	}
	.carousel .carousel-control-next-icon {
		content: "\f000";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
	/*--adjust as necessary--*/
		color: #000;
		font-size: 18px;	
	}
}