body {
  font-weight: 400px !important;
  ::-webkit-scrollbar{
    display: none;
  }
  font-size: 12px;
  line-height: 18px;
  background-color: #e2e5e8;
  //background: url(../img/home/bg-header.png) top center repeat-x white;
}


header {
  .bg-primary {
    background-color: #0275d8!important;
}
  .bg-header {
    background-color: red;
  }

  .menu-left {
    position: absolute;
    padding-top: .25rem;
  }
}
/*Footer*/
.footer {
  .copy-right {
    background-color: #421306;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;

    .nav-item {
      line-height: 1;

      .nav-link {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      &:not(:first-child) .nav-link {
        border-left: 1px solid #bfbfbf;
      }
    }
  }
}

input[type=text],
 input[type=password],
  input[type=email],
   input[type=url], 
   input[type=time],
    input[type=date],
     input[type=datetime-local],
      input[type=tel],
       input[type=number],
        input[type=search-md],
         input[type=search], 
         textarea.md-textarea{
          font-size: 0.875rem;
}
.inputVal
{ 
  right: 0;
  top: 35px;
  font-size: 0.75rem;

}
