/*@import "Variables";*/

/*font-size*/
.font-14 {
  font-size: 0.875rem !important;
}

.font-12 {
  font-size: 0.75rem !important;
}



/*opacity*/
.opacity-4 {
  opacity: 0.4;
}

.opacity-8 {
  opacity: 0.8;
}

/*line-height*/
.lh-1 {
  line-height: 1rem;
}

/*border*/
.border-top-1 {
  border-top: 1px solid #bdbdbd;
}

.border-right-1 {
  border-right: 1px solid #bdbdbd;
}

.border-bottom-1 {
  border-bottom: 1px solid #bdbdbd;
}

.border-left-1 {
  border-left: 1px solid #bdbdbd;
}

/*vartical-align*/
.align-text-super {
  vertical-align: super;
}
