<!--Section: Team v.4-->
<section class="section pb-3">
    <!--Section heading-->
    <h2 class="section-heading h1">OCEAN TEAM</h2>
    <!--Section description-->
    <p class="section-description font-14"><b> OCEAN:</b>&nbsp; nghĩa là đại dương luôn đương đầu với khó khăn và sóng gió mà đại dương là như vậy nó đầy thử thách với chúng ta luôn phải có gắng hơn nữa !!!</p>

    <div class="row">
        <div class="container">
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-r">

                    <mdb-card-rotating #cards1>
                        <!--Front Side-->
                        <div class="face front tp-box_side tp-box_front">

                            <!-- Image-->
                            <div class="card-up">
                                <img src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" class="img-fluid">
                            </div>
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="assets/img/home/Linhtien.jpg" class="rounded-circle img-responsive">
                            </div>
                            <!--Content-->
                            <div class="card-body">
                                <h4>Nguyễn Ngọc Linh Tiên</h4>
                                <p class="h6">Web Developer</p>
                                <small>Luôn luôn mơ và nhắm cao hơn khả năng của bản thân. Đừng bận tâm tới việc làm tốt hơn những người đương thời hay những người đi trước. Hãy cố để làm tốt hơn chính mình.</small><br>
                                <!--Triggering button-->
                                <a class="rotate-btn font-14" data-card="card-1" (click)="cards1.toggle()">
                                    <i class="fa fa-repeat"></i>&nbsp;<b>Details about me</b> </a>
                            </div>
                        </div>
                        <!--/.Front Side-->
                        <!--Back Side-->
                        <div class="back tp-box_side tp-box_back">
                            <!--Content-->                            
                            <div class="row">
                                <div class="col-12">
                                    <section class="sectiontext-center text-lg-left">
                                        <!--Grid row-->
                                        <div class="row">
                                            <!--Grid column-->
                                            <div class="col-lg-5 col-xl-4 offset-xl-1">
                                                <!--Featured image-->
                                                <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                                                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image for first version of blog listing">
                                                </div>
                                            </div>
                                            <!--Grid column-->

                                            <!--Grid column-->
                                            <div class="col-lg-7 col-xl-6">
                                                <!--Excerpt-->
                                                <a href="" class="green-text">
                                                    <h6 class="font-bold">
                                                        <i class="fa fa-cutlery"></i> Food</h6>
                                                        <small>Bí quyết thành công trong đời là ăn những gì bạn thích và để mặc chúng "quyết đấu" trong bụng bạn.</small>
                                                </a>
                                                <a class="btn btn-sm btn-success waves-light" mdbRippleRadius (click)="Food()">Read more</a>
                                            </div>
                                            <!--Grid column-->

                                        </div>
                                        <!--Grid row-->

                                        <hr class="hr-width">

                                        <!--Grid row-->
                                        <div class="row">

                                            <!--Grid column-->
                                            <div class="col-lg-7 col-xl-6 offset-xl-1">
                                                <!--Excerpt-->
                                                <a href="" class="pink-text">
                                                    <h6 class="font-bold">
                                                        <i class="fa fa-heart"></i> Lifestyle</h6>
                                                        <small>Cuộc đời tựa như một viên đá, chính bạn là người quyết định để viên đá ấy bám rong rêu hay trở thành viên ngọc sáng.</small>
                                                        
                                                </a>
                                                <a class="btn btn-sm btn-pink  waves-light" mdbRippleRadius (click)="Lifestyle()">Read more</a>
                                            </div>
                                            <!--Grid column-->

                                            <!--Grid column-->
                                            <div class="col-lg-5 col-xl-4">
                                                <!--Featured image-->
                                                <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                                                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg">
                                                </div>
                                            </div>
                                            <!--Grid column-->

                                        </div>
                                        <!--Grid row-->

                                        <hr class="hr-width">

                                        <!--Grid row-->
                                        <div class="row">

                                            <!--Grid column-->
                                            <div class="col-lg-5 col-xl-4 offset-xl-1">
                                                <!--Featured image-->
                                                <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                                                    <img src="https://mdbootstrap.com/img/Photos/Others/img (35).jpg">
                                                </div>
                                            </div>
                                            <!--Grid column-->

                                            <!--Grid column-->
                                            <div class="col-lg-7 col-xl-6">
                                                <!--Excerpt-->
                                                <a href="" class="indigo-text">
                                                    <h6 class="font-bold">
                                                        <i class="fa fa-plane"></i> Travels</h6>
                                                        <strong class="font-12">Rốt cuộc mục đích của cuộc đời chính là sống nó, trải nghiệm đến tận cùng, háo hức vươn ra và không bao giờ sợ hãi đón nhận những trải nghiệm mới mẻ và phong phú hơn.</strong>
                                                </a>

                                                <a class="btn btn-sm btn-indigo waves-light" mdbRippleRadius (click)="Travels()">Read more</a>
                                            </div>
                                            <!--Grid column-->

                                        </div>
                                        <!--Grid row-->

                                    </section>
                                    <!--Section: Blog v.1-->
                                </div>
                            </div>
                            <a class="rotate-btn font-14" data-card="card-1" (click)="cards1.toggle()">
                              
                                <i class="fa fa-repeat"></i>&nbsp;<b>Details about me</b> </a>
                        </div>
                        <!--/.Back Side-->
                    </mdb-card-rotating>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-r">

                    <mdb-card-rotating #cards2>
                        <!--Front Side-->
                        <div class="face front tp-box_side tp-box_front">
                            <!-- Image-->
                            <div class="card-up">
                                <img src="assets/img/tdtrong/trongtran-bgr.jpg" class="img-fluid">
                            </div>
                            <!--Avatar-->
                            <div class="avatar">
                                <img src="assets/img/tdtrong/avatar.jpg" class="rounded-circle img-responsive">
                            </div>
                            <!--Content-->
                            <div class="card-body">
                                <h4>Trần Đình Trọng</h4>
                                <p class="h6">Web Developer</p>
                                <!--Triggering button-->
                                <a class="rotate-btn font-14" data-card="card-1" (click)="cards2.toggle()">
                                    <i class="fa fa-repeat"></i>&nbsp;<b>Details about me</b> </a>
                            </div>
                        </div>
                        <!--/.Front Side-->

                        <!--Back Side-->
                        <div class="back tp-box_side tp-box_back tdtrong">

                            <!--Content-->
                            <div class="section" id="experience">
                                <div class="section-title col-12 mb-2 pt-3 text-left">EXPERIENCE</div>   
                                <div class="row pl-4">
                                        <div class="image col-2 pr-1">
                                            <img src="assets/img/tdtrong/khtn.png" class="pr-2"/>
                                        </div>
                                        <div class="description col-10 pl-2 text-left">
                                            <div class="font-weight-bold">HCM University of Science</div>
                                            <div class="content">Faculty of Information Technology</div>
                                        </div>
                                    </div>
                                <div class="row pl-4">
                                    <div class="image col-2 pr-1">
                                        <img src="assets/img/tdtrong/lacviet.bin" class="pr-2" />
                                    </div>
                                    <div class="description col-10 text-left pl-2">
                                        <div class="font-weight-bold">Lac Viet Computing Corporation</div>
                                        <div class="content">Web Developer</div>
                                    </div>
                                </div> 
                            </div>
                            <div class="section">
                                <div class="section-title col-12 mb-2 pt-3 text-left">ACTIVITIES</div>   
                                <div class="row pl-4">
                                    <div class="image col-2 pr-1">
                                        <img src="assets/img/tdtrong/svtn.png"  class="pr-2"/>
                                    </div>
                                    <div class="description col-10 pl-2 text-left">
                                        <div class="font-weight-bold">Students volunteer Club Itus</div>
                                        <div class="content">Member of Executive Boards Club </div>
                                        <div class="content">Organizing volunteer activities for members in club.</div>
                                    </div>
                                </div>     
                            </div>                            
                            <!--Social Icons-->
                            <ul class="inline-ul">
                                <li>
                                    <a class="icons-sm fb-ic" href="https://www.facebook.com/dinhtrong.tran.37" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="icons-sm tw-ic" href="https://www.instagram.com/trongtran.94" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>                               
                                
                            </ul>
                            <!--Triggering button-->
                            <a class="rotate-btn font-14" data-card="card-1" (click)="cards2.toggle()">
                                <i class="fa fa-undo"></i>&nbsp;<b>About me</b> </a>

                        </div>
                        <!--/.Back Side-->
                    </mdb-card-rotating>

                </div>
                <!--Grid column-->
            </div>
        </div>


    </div>

</section>
<!--Section: Team v.4-->