<!--Section: Contact v.3-->
<section class="section pb-4">
    <div row>
        <div class="col-10 mx-auto">
            <div class="card">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body form">

                            <div class="row">
                                <div class="col-10 mx-auto">
                                    <h3 class="text-center">Register</h3>
                                    <mdb-squeezebox [multiple]="true" aria-multiselectable="true">
                                        <!-- Collapsible link -->
                                        <mdb-item [collapsed]="false">
                                            <mdb-item-head mdbRippleRadius>
                                                Person Info</mdb-item-head>
                                            <mdb-item-body>
                                                <div class="row py-3">
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="text" id="form32"  maxlength="50" data-error="wrong text" data-success="right text" mdbInputValidate mdbCharCounter>
                                                            <label for="form32" class="font-12">Frist Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="text" id="form33"  maxlength="20" data-error="wrong text" data-success="right text" mdbInputValidate mdbCharCounter>
                                                            <label for="form33" class="font-12">Last name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                            <div class="md-form">
                                                                <input type="date" id="form34">
                                                                <label for="form34" class="font-12 active">Date of Birth</label>
                                                            </div>
                                                        </div>
                                                    <div class="col-6">
                                                        <div class="switch">
                                                            <label>
                                                                <span class="font-14">Gender</span>
                                                                <input #input type="checkbox" (change)="onChange($event)">
                                                                <span class="lever"></span>
                                                                <span *ngIf="showtext" class="font-12">Male</span>
                                                                <span *ngIf="!(showtext)" class="font-12">Female</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="email" id="form33" data-error="wrong email" data-success="right email" mdbInputValidate  maxlength="100">
                                                            <label for="form33" class="font-12">Email</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                                <input type="password" id="form9"  data-error="wrong password" data-success="right password" mdbInputValidate  mdbActive>
                                                                <label  for="form9" class="font-12">Password</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </mdb-item-body>
                                        </mdb-item>
                                        <mdb-item [collapsed]="false">
                                            <mdb-item-head mdbRippleRadius>
                                                Address</mdb-item-head>
                                            <mdb-item-body>
                                                <div class="row py-3">
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="text" id="form32">
                                                            <label for="form32" class="font-12" data-error="wrong text" data-success="right text" mdbInputValidate>Address1</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="text" id="form33" data-error="wrong text" data-success="right text" mdbInputValidate>
                                                            <label for="form33" class="font-12">Address1</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="md-form">                                                            
                                                                <input  mdbActive type="tel" id="form16" data-error="wrong telephone number" data-success="right telephone number" mdbInputValidate  maxlength="15">
                                                                <label  for="form16" class="font-12">Telephone number</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="text" id="form34" data-error="wrong text" data-success="right text" mdbInputValidate>
                                                            <label for="form34" class="font-12">State</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="text" id="form34" data-error="wrong text" data-success="right text" mdbInputValidate>
                                                            <label for="form34" class="font-12">Post Code</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="md-form">
                                                            <input mdbActive type="text" id="form34" data-error="wrong text" data-success="right text" mdbInputValidate>
                                                            <label for="form34" class="font-12">Country</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mdb-item-body>
                                        </mdb-item>

                                    </mdb-squeezebox>
                                    <div class="text-center mt-2">
                                        <button class="btn btn-info waves-light" mdbRippleRadius>Sign up
                                            <i class="fa fa-sign-in ml-1"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card-body contact text-center">
                            <div class="container">
                                <div class="mb-5">
                                    <h3>Contact information</h3>
                                </div>

                                <ul class="contact-icons">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <p>Nguyễn Ngọc Linh Tiên</p>
                                    </li>

                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <p>0976544871</p>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <p>nguyenngoclinhtien1001@gmail.com</p>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>