.title-group{
    border-bottom: 1px solid #a5a5a5;
    border-width: 2px;
}
.group-home{
    background-color: white;
}
.product-phone{
    
    .card{
        border: none;
        overflow: hidden;
        .card-body{
            //height: 14rem;
            .card-title{
                height: 2rem;;
            }
        }
        .card-image{
            margin-top: 1rem;
            height: 14rem;
            overflow: hidden;
            display: block;
        }
        // .card-image:hover{
        //     height: 30rem;
        //     img{
        //         position: absolute;
        //         transform: scale(2,2);
        //     }
        // }
    }
    
}

// .carousel-multi-item {
    
// }
.carousel-multi-item {
    .controls-top {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 7rem;
        position: absolute;
        .btn-floating {
            background: #6b717f;
        }
        .btn-floating:last-child {
            background: #6b717f;
            margin-left: 79rem;
        }
    }
}


.carousel-indicators{
    display: none;
}