<!--Accordion wrapper-->
<mdb-squeezebox [multiple]="false" aria-multiselectable="true">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><h5 class="mb-4 font-weight-bold text-primary title-group">Sản phẩm mới nhất</h5></div>
    </div>
  
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation product-phone group-home" [type]="'carousel-multi-item'" [animation]="'slide'">
    <!--First slide-->
        <mdb-slide class="">
            <div class="col-md-1 float-left" ></div>
            <div class="col-md-2 float-left group-home" *ngFor="let prod of LstBestSell_1">
            <div class="card">
                <div class="card-image">
                    <img class="img-fluid" src="{{prod.Image[0].url}}" alt="Card image cap">
                </div>
                <div class="card-body" >
                    <h6 class="card-title">{{prod.Name}}</h6>
                    <p class="h6 text-danger">{{prod.Price | currency:'VND':true:'1.0-0'}}</p>
                    <a (click)="ViewDetail(prod.Code, prod.Type)" >Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 float-left" ></div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="col-md-1 float-left" ></div>
            <div class="col-md-2 float-left group-home" *ngFor="let prod of LstBestSell_2">
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="{{prod.Image[0].url}}" alt="Card image cap" >
                    </div>
                    <div class="card-body mt-1" >
                        <h6 class="card-title">{{prod.Name}}</h6>
                        <p class="h6 text-danger">{{prod.Price | currency:'VND':true:'1.0-0'}}</p>
                        <a (click)="ViewDetail(prod.Code, prod.Type)"  >Xem chi tiết</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-1 float-left" ></div>
            
        </mdb-slide>
    <!--/Second slide-->
    </mdb-carousel>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><h5 class="mb-4 font-weight-bold text-primary title-group">Sản phẩm bán chạy nhất</h5></div>
    </div>
    
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation product-phone group-home" [type]="'carousel-multi-item'" [animation]="'slide'">
      <!--First slide-->
      <mdb-slide class="">
          <div class="col-md-1 float-left" ></div>
          <div class="col-md-2 float-left group-home" *ngFor="let prod of LstBestSell_1">
            <div class="card">
                <div class="card-image">
                   <img class="img-fluid" src="{{prod.Image[0].url}}" alt="Card image cap">
                </div>
                <div class="card-body" >
                    <h6 class="card-title">{{prod.Name}}</h6>
                    <p class="h6 text-danger">{{prod.Price | currency:'VND':true:'1.0-0'}}</p>
                    <a (click)="ViewDetail(prod.Code, prod.Type)" >Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 float-left" ></div>
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
          <div class="col-md-1 float-left" ></div>
          <div class="col-md-2 float-left group-home" *ngFor="let prod of LstBestSell_2">
              <div class="card">
                  <div class="card-image">
                      <img class="img-fluid" src="{{prod.Image[0].url}}" alt="Card image cap" >
                  </div>
                  <div class="card-body mt-1" >
                      <h6 class="card-title">{{prod.Name}}</h6>
                      <p class="h6 text-danger">{{prod.Price | currency:'VND':true:'1.0-0'}}</p>
                      <a (click)="ViewDetail(prod.Code, prod.Type)"  >Xem chi tiết</a>
                  </div>
              </div> 
          </div>
          <div class="col-md-1 float-left" ></div>
          
      </mdb-slide>
    </mdb-carousel>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><h5 class="mb-4 font-weight-bold text-primary title-group">Sản phẩm được xem nhiều nhất</h5></div>
    </div>
        
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation product-phone group-home" [type]="'carousel-multi-item'" [animation]="'slide'">
        <!--First slide-->
        <mdb-slide class="">
            <div class="col-md-1 float-left" ></div>
            <div class="col-md-2 float-left group-home" *ngFor="let prod of LstBestSell_1">
            <div class="card">
                <div class="card-image">
                    <img class="img-fluid" src="{{prod.Image[0].url}}" alt="Card image cap">
                </div>
                <div class="card-body" >
                    <h6 class="card-title">{{prod.Name}}</h6>
                    <p class="h6 text-danger">{{prod.Price | currency:'VND':true:'1.0-0'}}</p>
                    <a (click)="ViewDetail(prod.Code, prod.Type)" >Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 float-left" ></div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="col-md-1 float-left" ></div>
            <div class="col-md-2 float-left group-home" *ngFor="let prod of LstBestSell_2">
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="{{prod.Image[0].url}}" alt="Card image cap" >
                    </div>
                    <div class="card-body mt-1" >
                        <h6 class="card-title">{{prod.Name}}</h6>
                        <p class="h6 text-danger">{{prod.Price | currency:'VND':true:'1.0-0'}}</p>
                        <a (click)="ViewDetail(prod.Code, prod.Type)"  >Xem chi tiết</a>
                    </div>
                </div> 
            </div>
            <div class="col-md-1 float-left" ></div>
            
        </mdb-slide>
    </mdb-carousel>
</mdb-squeezebox>
<!--/.Accordion wrapper-->