<div class="row">
    <a role="button" (click)="ViewDetail(1)" class="col-md-3">
        <div class="card " >
            <div class="card-body" >
                <h6 class="card-title">Quản Lý Sản Phẩm</h6>
            </div>
        </div>
    </a>
    <a role="button" (click)="ViewDetail(1)" class="col-md-3">
        <div class="card " >
            <div class="card-body" >
                <h6 class="card-title">Quản Lý Loại Sản Phẩm</h6>
            </div>
        </div>
    </a>
    <a role="button" (click)="ViewDetail(1)" class="col-md-3">
        <div class="card " >
            <div class="card-body" >
                <h6 class="card-title">Quản Lý Nhà Sản Xuất</h6>
            </div>
        </div>
    </a>
    <a role="button" (click)="ViewDetail(1)" class="col-md-3">
        <div class="card " >
            <div class="card-body" >
                <h6 class="card-title">Quản Lý Đơn Hàng</h6>
            </div>
        </div>
    </a>
</div>