<!--Footer-->
<footer class="page-footer bg-indigo center-on-small-only">
    <!--Social buttons-->
    <div class="text-center mb-3">

        <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius (click)="facebook()"><i class="fa fa-facebook"> </i></a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius (click)="twitter()"><i class="fa fa-twitter"> </i></a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius (click)="googleplus()"><i class="fa fa-google-plus"> </i></a>
        <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius (click)="linkedin()"><i class="fa fa-linkedin"> </i></a>
        <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius (click)="github()"><i class="fa fa-github"> </i></a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius (click)="pinterest()"><i class="fa fa-pinterest"> </i></a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius (click)="instagram()"><i class="fa fa-instagram"> </i></a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright:<b>&nbsp; OCEAN TEAM</b> 

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
 